<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <h5 class="card-header text-center">Send feedback</h5>
      <div class="card-body">
        <!--form-->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!--name-->
          <div class="form-group">
            <label for="nameInput">Name</label>
            <input id="nameInput" type="text" class="form-control"
                   formControlName="senderName"
                   [ngClass]="{'is-invalid': nameErrors}"
            />
            <div *ngFor="let error of nameErrors" class="invalid-feedback">{{error}}</div>
          </div>
          <!--email-->
          <div class="form-group">
            <label for="emailInput">Email address</label>
            <input id="emailInput" type="email" class="form-control"
                   formControlName="senderEmail"
                   [ngClass]="{'is-invalid': emailErrors}"
            />
            <div *ngFor="let error of emailErrors" class="invalid-feedback">{{error}}</div>
          </div>
          <!--feedback-->
          <div class="form-group">
            <label for="feedbackInput">Feedback</label>
            <textarea id="feedbackInput" rows="3" class="form-control"
                      formControlName="feedbackText"
                      [ngClass]="{'is-invalid': feedbackErrors}"
            ></textarea>
            <div *ngFor="let error of feedbackErrors" class="invalid-feedback">{{error}}</div>
          </div>
          <!--button-->
          <div class="form-group">
            <div class="text-right">
              <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
                <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                <span> Send feedback</span>
              </button>
            </div>
            <div *ngIf="formErrorMessage" class="invalid-feedback d-block">{{formErrorMessage}}</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

