<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">Send feedback</div>
      <div class="card-body">
        <!--form-->
        <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
          <!--name-->
          <div class="form-group">
            <label for="nameInput">Name</label>
            <input id="nameInput" type="text" class="form-control"
                   placeholder="Your name"
                   formControlName="senderName"
                   [ngClass]="{ 'is-invalid': nameErrors.hasErrors }"
            />
            <div *ngIf="nameErrors.hasErrors" class="invalid-feedback">
              <div *ngIf="nameErrors.errors.required">Name is required</div>
            </div>
          </div>
          <!--email-->
          <div class="form-group">
            <label for="emailInput">Email address</label>
            <input id="emailInput" type="email" class="form-control"
                   placeholder="Your email"
                   formControlName="senderEmail"
                   [ngClass]="{ 'is-invalid': emailErrors.hasErrors }"
            />
            <div *ngIf="emailErrors.hasErrors" class="invalid-feedback">
              <div *ngIf="emailErrors.errors.required">Email is required</div>
              <div *ngIf="emailErrors.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <!--feedback-->
          <div class="form-group">
            <label for="feedbackInput">Feedback</label>
            <textarea id="feedbackInput" rows="3" class="form-control"
                      placeholder="Your feedback"
                      formControlName="feedbackText"
                      [ngClass]="{ 'is-invalid': feedbackErrors.hasErrors }"
            ></textarea>
            <div *ngIf="feedbackErrors.hasErrors" class="invalid-feedback">
              <div *ngIf="feedbackErrors.errors.required">Feedback is required</div>
            </div>
          </div>
          <!--button-->
          <div class="form-group">
            <div class="text-right">
              <button type="submit" class="btn btn-primary" [ngClass]="{ 'disabled': btnDisabled }">
                <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                <span> Send feedback</span>
              </button>
            </div>
            <div *ngIf="this.submitFailed" class="invalid-feedback d-block">Failed to send feedback</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

