<div class="container">
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-md-8">
      <form #thisForm="ngForm" (submit)="thisForm.valid&&sendFeedback()">
        <div class="form-group">
          <label for="idName">Name</label>
          <input type="text" class="form-control" id="idName"
                 name="userName"
                 placeholder="Your name"
                 required
                 [(ngModel)]="model.senderName"
                 #thisName="ngModel"
                 [ngClass]="{'is-invalid':thisForm.submitted&&thisName.invalid}"
          >
        </div>
        <div class="form-group">
          <label for="idEmail">Email address</label>
          <input type="email" class="form-control" id="idEmail"
                 name="userEmail"
                 placeholder="Your email"
                 required email
                 [(ngModel)]="model.senderEmail"
                 #thisEmail="ngModel"
                 [ngClass]="{'is-invalid':thisForm.submitted&&thisEmail.invalid}"
          >
        </div>
        <div class="form-group">
          <label for="idFeedback">Feedback</label>
          <textarea rows="3" class="form-control" id="idFeedback"
                    name="feedbackText"
                    placeholder="Your feedback"
                    required
                    [(ngModel)]="model.feedbackText"
                    #thisFeedback="ngModel"
                    [ngClass]="{'is-invalid':thisForm.submitted&&thisFeedback.invalid}"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-warning float-right">
          <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
          <span> Send feedback</span>
        </button>
      </form>
    </div>
  </div>
</div>
