<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <h5 class="card-header text-center">Send command to backend</h5>
      <div class="card-body">
        <button class="btn btn-outline-danger btn-lg btn-block" type="button" (click)="sendFillDatabase()">
          Fill Database
        </button>
        <button class="btn btn-outline-danger btn-lg btn-block" type="button" (click)="sendShutdown()">
          Shutdown Backend
        </button>
      </div>
    </div>
  </div>
</div>
