textarea.note-text { // note text
  resize: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  outline:none;
  box-shadow:none;
}

div.card-header { // title of note card
  input { // make input[text] look like simple text
    min-width: 5ch;
    background-color: transparent;
    border: 0;
    outline: none;
  }
}

li { // list of notebooks
  * {
    cursor: default;
  }

  button, button > * { // selector for delete notebook icon
    cursor: pointer;
  }

  input { // make input[text] look like simple text
    min-width: 5ch;
    background-color: transparent;
    border: 0;
    outline: none;
  }

  &.active > input { // selector for active notebook
    cursor: text;
  }
}

div.modal-body > input {
  width: 100%;
}

// /deep/ is deprecated

///deep/ ul.ngx-pagination {
//  padding-left: 0;
//
//  li {
//    &.current {
//      padding-left: 8px;
//      padding-right: 8px;
//    }
//
//    a {
//      padding-left: 8px;
//      padding-right: 8px;
//    }
//  }
//
//}
