.list-group > * { // list of notebooks
  cursor: default;

  .btn, .btn > * { // selector for delete notebook icon
    cursor: pointer;
  }

  input { // make input[text] look like simple text
    min-width: 5ch;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: default;
  }

  &.active > input { // selector for active notebook
    cursor: text;
  }
}

div.modal-body > input {
  width: 100%;
}
