<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <h5 class="card-header text-center">Join MyNotes!</h5>
      <div class="card-body">
        <!--form-->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!--first name-->
          <div class="form-group">
            <label for="fnInput">First Name</label>
            <input id="fnInput" type="text" class="form-control"
                   placeholder="First Name"
                   formControlName="firstName"
                   [ngClass]="{'is-invalid': firstNameErrors}"
            />
            <div *ngFor="let error of firstNameErrors" class="invalid-feedback">{{error}}</div>
          </div>
          <!--last name-->
          <div class="form-group">
            <label for="lnInput">Last Name</label>
            <input id="lnInput" type="text" class="form-control"
                   placeholder="Last Name"
                   formControlName="lastName"
            />
          </div>
          <!--email-->
          <div class="form-group">
            <label for="emailInput">Email address</label>
            <input id="emailInput" type="email" class="form-control"
                   placeholder="Email address"
                   formControlName="email"
                   [ngClass]="{'is-invalid': emailErrors}"
            />
            <div *ngFor="let error of emailErrors" class="invalid-feedback">{{error}}</div>
          </div>
          <!--password-->
          <div class="form-group">
            <label for="passInput">Password</label>
            <input id="passInput" type="password" class="form-control"
                   formControlName="password"
                   [ngClass]="{'is-invalid': passwordErrors}"
            />
            <div *ngFor="let error of passwordErrors" class="invalid-feedback">{{error}}</div>
          </div>
          <!--confirm password-->
          <div class="form-group">
            <label for="cnfPassInput">Confirm password</label>
            <input id="cnfPassInput" type="password" class="form-control"
                   formControlName="confirmPassword"
                   [ngClass]="{ 'is-invalid': confirmPasswordErrors }"
            />
            <div *ngFor="let error of confirmPasswordErrors" class="invalid-feedback">{{error}}</div>
          </div>
          <!--button-->
          <div class="form-group">
            <div class="text-right">
              <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
                <fa-icon [icon]="['fas', 'user-plus']"></fa-icon>
                <span> Sign up</span>
              </button>
            </div>
            <div *ngIf="this.submitFailed" class="invalid-feedback d-block">Failed to sign up</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
